// 公共颜色配置文件
$dark-fontColor: #000;
$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-notice-fontcolor: #777;
$content-bgColor: #F1F1F1;
$search-bgColor: #F5F5F5;
$search-fontColor: #B7B7B7;
$hightlight-fontColor: #E93B3B;
$btn-bgColor: #ffcc33;
$bgColor: #FFF;
$dark-bgColor: #F8F8F8;